<a href="https://colab.research.google.com/github/lizchk/python-for-big-data-and-data-science/blob/main/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 105
b = 105

print(f"Equal in value: {a == b}")
print(f"Refer to the same object: {id(a) == id(b)}")

Equal in value: True
Refer to the same object: True

Equal in value: True

Refer to the same object: True

Значення будуть рівні і змінні будуть посилатись на один і той же об'єкт в пам'яті у зв'язку з обмеженим кешуванням у проміжку від -5 до 256 замість створення нового об'єкту.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
a = True

print(f"a is bool: {isinstance(a, bool)}")
print(f"a is int: {isinstance(a, int)}")
print(f"a is string: {isinstance(a, str)}")

a is bool: True
a is int: True
a is string: False

a is bool: True

a is int: True

a is String: False

Булеве значення True внутрішньо представлене як 1, а False як 0.

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
a = 10
b = 3.5

addition = a + b
print(f"Addition: a+b = {addition}")

subtraction = a - b
print(f"a-b = {subtraction}")

division = a / b
print(f"a/b = {division}")

multiplication = a * b
print(f"a*b = {multiplication}")

floor_division = a // b
print(f"a//b = {floor_division}")

modulus = a % b
print(f"a%b = {modulus}")

exponential = a ** b
print(f"a**b = {exponential}")

Addition: a+b = 13.5
a-b = 6.5
a/b = 2.857142857142857
a*b = 35.0
a//b = 2.0
a%b = 3.0
a**b = 3162.2776601683795

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
bool_t = True
bool_f = False

to_int = int(b)
bool_t_to_int = int(bool_t)
bool_f_to_int = int(bool_f)

print(f"float to int: {b} -> {to_int}")
print(f"bool to int: {bool_t} -> {bool_t_to_int}, {bool_f} -> {bool_f_to_int}")

float to int: 3.5 -> 3
bool to int: True -> 1, False -> 0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [7]:
empty_str1 = str()
empty_str2 = ""
print(f"Empty string1:{empty_str1}")
print(f"Empty string2:{empty_str2}")

Empty string1:
Empty string2:

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [30]:
s1 = 'I\'m here.'
print(s1)

s2 = r'I\'m here.'
print(s2)

I'm here.
I\'m here.

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [8]:
surname = "Yakovenko"
print(f"My surname is {surname}")

My surname is Yakovenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [10]:
s = "My dog is crazy."
result = s.lower().replace('.', '').split()

print(result)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [15]:
l1 = [x**2 for x in range(5)]
l2 = list("hello")

len_of_l2 = len(l2)

print(f"List 1: {l1}")
print(f"List 2: {l2}")
print(f"Length of list 2: {len_of_l2}")

List 1: [0, 1, 4, 9, 16]
List 2: ['h', 'e', 'l', 'l', 'o']
Length of list 2: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [16]:
l3 = [1, 2, 3]
l4 = [4, 5, 6]
l3.append(l4)

print(f"List 3 after appending list 4: {l3}")

List 3 after appending list 4: [1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [17]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
first_element_of_last_row = nested_list[-1][0]

print("First element from the last list:", first_element_of_last_row)

First element from the last list: 7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [19]:
original_list = [1, 'hello', 3.14, True, [5, 6], 'world', 7, None, 'python', -10]
new_list = original_list[2:-2]

print("Original list:", original_list)
print("New list:", new_list)

Original list: [1, 'hello', 3.14, True, [5, 6], 'world', 7, None, 'python', -10]
New list: [3.14, True, [5, 6], 'world', 7, None]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [22]:
single_element_tuple = (42,)

print("Tuple:", single_element_tuple)

Tuple: (42,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Cхожості:

Обидва можуть містити елементи різних типів даних.
Індексація елементів починається з 0.

Відмінності:

Списки є змінними, а кортежі – незмінними. Списки створюються за допомогою квадратних дужок [], а кортежі – за допомогою круглих (). Методи додавання та видалення елементів доступні лише для списків.

Випадки використання:

Списки для змінних даних, кортежі для незмінних або там де потрібно гарантувати непорушність даних.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [23]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)

result_tuple = my_tuple[::-2]

print(result_tuple)

(11.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [24]:
my_set = set()
print(f"Empty set: {my_set}")

my_set.add(1)
my_set.add('hello')
my_set.add(3.14)

print(f"Populated set: {my_set}")

Empty set: set()
Populated set: {3.14, 1, 'hello'}

Так, в Python множини є змінним типом даних, і вони можуть змінюватися.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}

Дубльовані значення (1 та 67) видаляються, оскільки множина міститиме лише унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [25]:
set1 = {1,2,3,4,5,6}
set2 = {8,5,1,4,10,11}

union_set = set1.union(set2)
difference_set = set1.difference(set2)
intersection_set = set1.intersection(set2)
symmetric_difference_set = set1.symmetric_difference(set2)

print("Union:", union_set)
print("Difference:", difference_set)
print("Intersection:", intersection_set)
print("Symmetric difference:", symmetric_difference_set)

Union: {1, 2, 3, 4, 5, 6, 8, 10, 11}
Difference: {2, 3, 6}
Intersection: {1, 4, 5}
Symmetric difference: {2, 3, 6, 8, 10, 11}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
my_dict = {}

my_dict[1] = 'one'
my_dict['key'] = 42
my_dict[3.14] = [1, 2, 3]
my_dict[(1, 2)] = 'tuple'

print(my_dict)

{1: 'one', 'key': 42, 3.14: [1, 2, 3], (1, 2): 'tuple'}

Cписок не може бути ключем у словнику. У Python ключі у словнику повинні бути хешованими об'єктами, такими як цілі числа, рядки, кортежі тощо. Список не є хешованим, оскільки його можна змінювати під час використання в якості ключа, що може порушити структуру словника.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
my_dict = {
    'key1': 'value1',
    'key2': {
        'nested_key1': 'nested_value1',
        'nested_key2': {
            'inner_key': 'inner_value'
        }
    },
    'key3': 'value3'
}
inner_value = my_dict['key2']['nested_key2']['inner_key']

print(inner_value)

inner_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.